<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examen.tecii.easyandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstTopic"
            android:label="@string/title_activity_first_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecondTopic"
            android:label="@string/title_activity_second_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThirdTopic"
            android:label="@string/title_activity_third_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FourthTopic"
            android:label="@string/title_activity_fourth_topic"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>